@using System.Reflection;

@{ var myversion = Assembly.GetEntryAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion; }

    <footer class="main-footer">
        <div class="row">
                <div class="d-none d-sm-inline col-md-4">
                    <strong>Copyright © 2020 <a href="http://www.assistsa.com.ar/" target="_blank"><b style="color: cadetblue">Assist&nbsp</b><b style="color: gray">S.A.</b></a></strong>
                </div>
                <div class="d-none d-sm-inline col-md-4 text-center">
                    <img alt="assist" src="~/img/logoASSIST.png" width="80" />
                </div>
                <div class="col-md-4">
                    <strong class="float-right">Versión: @myversion </strong>
                </div>
            </div>
</footer>