@model CMRmvc.Models.User

@{
    ViewData["Title"] = "Login";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/crm.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition login-page grandientcrm">
    <div class="login-box">      
        <div class="card rounded">
            <div class="card-body login-card-body">
                <div class="logo-login rounded">
                </div>
                <p class="login-box-msg" style="font-weight: 700;">CRM CR</p>

                <form id="Login" method="post">

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input asp-for="UserName" placeholder="UserName" class="form-control" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user-tie"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="UserName" class="text-danger small"></span>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input asp-for="PasswordHash" placeholder="Password" class="form-control" />
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="PasswordHash" class="text-danger small"></span>
                    </div>
                    <div class="row">
                        @*<div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" asp-for="RememberMe">
                                <label for="remember">
                                    Recordarme
                                </label>
                            </div>
                        </div>*@
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
                        </div>
                        @*<div class="col-4 mt-3">
                            <a asp-controller="Account" asp-action="Register">Registrar</a>
                        </div>*@
                    </div>
                </form>
               @if (ViewData["Error"] != null && ViewData["Error"].ToString() != "")
               {
                <div class="alert alert-danger mt-3" role="alert">
                   @ViewData["Error"]
                </div>
               }
            </div>
        </div>
    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>
